<% layout("layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3 mb-5">SignUp on SecondBite</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" placeholder="" name="email" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>  <!-- bootstrap -->
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Username</label>
                <input type="text" placeholder="" name="username" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>  <!-- bootstrap -->
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" placeholder="" name="password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Contact</label>
                <input type="number" placeholder="" name="contact" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Address</label>
                <input type="text" placeholder="" name="address" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">State</label>
                <input type="text" placeholder="" name="state" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Pincode</label>
                <input type="number" placeholder="" name="pincode" class="form-control" required>
            </div>

            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>